/*styles.css*/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    .flex-container {
        display: flex;
        flex-flow: row wrap;
        background-color: lightblue;
    }
    
    article {
        background-color: lightgray;
        border: 1px solid darkgray;
        margin: 10px;
    }

    article p:first-child {
        text-align: center;
        font-weight: bold;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

